@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

.header-container{
  display:flex;
  flex-direction: row;
  margin-left: 80px;
  margin-right:80px;
}
.header-box{
  display:flex;
  flex-direction:row;
  margin:auto;
  justify-content:center;
  align-items: center;
}

.header-title{
  font-family: 'Inder', sans-serif;
  font-size: 16px;
  color: #4C4C4C;
  margin-left:28px;
  text-decoration: none;
}

a.header-title:hover {
  color:#0E0D12;
  text-decoration: underline;
  font-weight: 800;
}

.button{
  margin-top: 24px;
}

.contact-button{
  background: #0E0D12;
  border-radius: 24px;
  font-family: 'Inder', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  padding:14px;
  justify-content: flex-end;
}

a.contact-button:hover{
  text-decoration: underline;
}


.footer-container{
  background: #F7F7F7;
  width:100%;
  height:auto;
  padding-top: 48px;
  padding-bottom: 48px;
  display:flex;
  justify-content:center;
  align-items: center;
}


.restrict{
  max-width:80%;
}

.about-text{
  font-family: 'Work Sans', sans-serif;
  font-size:18px;
  text-align: center;
  word-break:break-all; 
}

.button-main{
  border: 2px solid #0E0D12;
  box-sizing: border-box;
  border-radius: 1px;
  height:40px;
  padding:12px;
  color: #0E0D12;
  font-family: 'Inder', sans-serif;
  font-size: 18px;
  text-decoration: none;
  display:flex;
  justify-content:center;
  align-items: center;
  margin-bottom: 32px;
}

a.button-main:hover{
  background: #0E0D12;
  color: #e7e7e7;
}

.center{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  margin-top: 32px;
}

.social-bar{
  display:flex;
  flex-direction:row;
  justify-content:center;
  margin-top:28px;
}

.social-icon{
  opacity:0.8;
  margin-left: 20px;
}

a.social-icon:hover{
  opacity: 1;
}

.main-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8vh;
}
.subheader-container{
  display:flex;
  margin-left:96px;
  flex-direction: column;
}

.line{
  margin-top:48px;
  margin-bottom: 20px;
}

.heading{
  color: #4C4C4C;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.caption{
  color: #706C8D;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  margin-top:4px;
}

.waves{
  margin-top:48px;
}

.strip{
  display:flex;
  flex-direction: row;
  background: #BDDBE3;
  width:100%;
  height:264px;
  margin-top:24px;
  justify-content: space-between;
  margin-bottom:120px;
}

.blue-box{
  display: flex;
  flex-direction: column-reverse;
}

.img-box{
  margin-left:80px;
  width:373px;
  height:296px;
  filter: grayscale(100%);
}

.img-box:hover{
  filter:none;
}

.strip-text{
  margin-left: 20%;
  margin-top:40px;
}

.box-heading{
  color: #0E0D12;
  font-family: 'Inder', sans-serif;
  font-size: 32px;
}

.box-text{
  margin-right:80px;
  font-family: 'Work Sans', sans-serif;
  font-size:18px;
  color: #4C4C4C;
  margin-top: 24px;
  line-height: 24px;
}

.box-button{
  margin-top:32px;
  border: 2px solid #0E0D12;
  box-sizing: border-box;
  border-radius: 1px;
  height:40px;
  width:145px;
  padding:12px;
  color: #0E0D12;
  font-family: 'Inder', sans-serif;
  font-size: 18px;
  text-decoration: none;
  display:flex;
  justify-content:center;
  align-items: center;
  margin-bottom: 32px;
}

a.box-button:hover{
  background: #0E0D12;
  color: #e7e7e7;
}

.strip-two{
  display:flex;
  flex-direction: row-reverse;
  background: #F3CD82;
  width:100%;
  height:264px;
  margin-top:24px;
  justify-content: space-between;
  margin-bottom:120px;
}

.img-box-two{
  margin-right:80px;
  width:354px;
  height:331px;
  filter: grayscale(100%);
}

.img-box-two:hover{
  filter:none;
}

.strip-text-two{
  margin-top:40px;
  margin-left:80px;
  margin-right: 16%;
}

.strip-three{
  display:flex;
  flex-direction: row;
  background:#FCBBA9;
  width:100%;
  height:264px;
  margin-top:24px;
  justify-content: space-between;
  margin-bottom:120px;
}

.img-box-three{
  width:300px;
  height:317px;
  filter: grayscale(100%);
}

.img-box-three:hover{
  filter:none;
}

.strip-text-three{
  margin-left: 28%;
  margin-top:40px;
}

.card-row{
  display:flex;
  direction:row;
  margin-right: 84px;
  margin-left: 96px;
  justify-content: space-between;
  margin-bottom:12vh;
}

.card-bg{
  max-width: 405px;
  height: 280px;
  border-radius: 4px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right:20px;
}

.org{
  margin-left: 12px;
  margin-right:12px;
  padding-top: 1em;
  color: #4C4C4C;
  font-family: 'Work Sans', sans-serif;
  font-size:14px;
}

.project-title{
  margin-left: 12px;
  margin-right: 12px;
  font-family: 'Work Sans', sans-serif;
  color:#181818;
  font-weight: 500;
  font-size: 20px;
}

.card-desc{
  margin: 12px;
  font-family: 'Work Sans', sans-serif;
  color:#4C4C4C;
  font-size:18px;
  line-height: 24px;
}

.duration{
  margin-left: 12px;
  justify-content: last baseline;
  color: #375158;
  font-family: 'Work Sans', sans-serif;
  font-size:14px;
}

.card-line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 12px;
  align-items: center;
}

.launch{
  background-image: url(./assets/launch.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

#loader {
  
  animation: loader 5s linear infinite; 
 
  
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}
@keyframes loader {
  0% { left: -100px }
  100% { left: 110%; }
}

#box {
  width: 50px;
  height: 50px;
  background: #fff;
  animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
@keyframes animate {
  17% { border-bottom-right-radius: 3px; }
  25% { transform: translateY(9px) rotate(22.5deg); }
  50% {
    transform: translateY(18px) scale(1,.9) rotate(45deg) ;
    border-bottom-right-radius: 40px;
  }
  75% { transform: translateY(9px) rotate(67.5deg); }
  100% { transform: translateY(0) rotate(90deg); }
} 
#shadow { 
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow .5s linear infinite;
}
@keyframes shadow {
  50% {
    transform: scale(1.2,1);
  }
}
